@model MicrosTestTask.ViewModels.Profile.ProfileViewModel

@{
	ViewData["Title"] = "Profile";
}

<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="list-group">
			@if (User.IsInRole("admin"))
			{
				<a class="list-group-item list-group-item-action list-group-item-danger" href="/Admin">Админка</a>
			}
			<a class="list-group-item list-group-item-action list-group-item" href="/Manage/Create">Добавить приход/расход</a>
			<a class="list-group-item list-group-item-action list-group-item" href="/Manage/History">История</a>
			<a class="list-group-item list-group-item-action list-group-item" href="/Manage/Statistics">Статистика</a>
			<a class="list-group-item list-group-item-action list-group-item" href="/Account/ChangePassword">Поменять пароль</a>
		</div>		
	</div>
	<div class="col-md-6  text-center">
		<div class="d-flex justify-content-center m-3">
			<div>
				<img />
			</div>
		</div>
		<h3>@Model.Username</h3>

		<div class="mt-5">
			<p style="font-size: 1.3rem;">Статистика за все время</p>

			<div class="d-flex justify-content-center">
				<ul class="list-group list-group-horizontal">
					@{
						var mark = Model.Difference >= 0 ? "+" : string.Empty;
					}
					<li class="list-group-item text-success">Приходы: +@Model.AllTimeIncome</li>
					<li class="list-group-item">Разница: @mark@Model.Difference</li>
					<li class="list-group-item text-danger">Расходы: -@Model.AllTimeExpense</li>
				</ul>
			</div>
		</div>

	</div>
</div>

