@{
	ViewData["Title"] = "Админка";
}

<div class="position-absolute top-50 start-50 translate-middle">
	<div class="d-flex justify-content-center">
		<div class="m-4">
			<a class="btn btn-primary" href="/Admin/Users">Управление пользователями</a>
		</div>
		<div class="m-4">
			<a class="btn btn-primary" href="/Admin/Categories">Управление категориями</a>
		</div>
	</div>
</div>
