@model MicrosTestTask.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "Смена пароля";
}

<div class="container text-center" style="width: 300px">
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="mb-3">
            <input class="form-control" asp-for="Name" type="text" value="@User.Identity.Name" readonly />
        </div>

        <div class="mb-3">
            <input class="form-control" asp-for="NewPassword" placeholder="Новый пароль" />
        </div>

        <div class="mb-3">
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Повторите новый пароль" />
        </div>

        <div>
            <button class="btn btn-outline-primary">Сохранить</button>
        </div>
    </form>
</div>
